@model StudentListViewModel

@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h1>Index</h1>
<table class="table table-responsive">
    @if (@Model.Students != null)
    {
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.StudentName</td>
                <td>@student.StudentSurname</td>
                <td>@student.LessonId</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>